body {
    background-color: #d6ff99;
    color: #b36423;
}

/* Estilo da página index */

header h1 {
    font-size: 3.5em;
    margin-top: 15vh;
    color: #b36423;
}

footer {
    color: #b36423;
}

.center {
    text-align: center;
}

/* .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.carousel-frame {
    border-radius: 15%;
}

.dialog {
    font-size: 1.5em;
}

#menu li {
    display: inline;
    padding: 15px;
    font-size: 1.25em;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#menu li a:hover {
    color: grey;
}

.br-5 {
    border-radius: 2.5%;
}

.tm-social {
    width: 80px;
    height: 80px;
    padding: 20px;
}

.mv-25 {
    margin: 25px;
}

#form-contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mh-50 {
    margin: 0 50px;
}