<div class="container w-100">
    
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">
                Sejam bem vindes ao meu blog!
            </h1>
        </div>
    </div>

    <div class="row-w-100-my-4">
        <div class="col-md-12">
            <div class="text-monospace text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo illo accusamus ex. Velit nulla ex, autem eos exercitationem neque facere? Error illo, ea similique libero est repellendus asperiores nihil fugiat?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reiciendis voluptates natus, tempore magni reprehenderit commodi praesentium eligendi eius quidem debitis explicabo possimus labore doloremque nam, cum dolor ut in.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, ducimus perferendis corrupti sapiente rem voluptates praesentium, neque vitae facilis laboriosam autem quam ea eveniet blanditiis? Ratione eius placeat cupiditate aut?
            </div>
        </div>
    </div>

</div>

<div class="parallax"></div>

<div class="row w-100 my-5">
    <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">
            Ver o feed
        </button>
    </div>
</div>