<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="/assets/imgs/foto-perfil.png" alt="Foto de perfil">
    </div>
    <div class="card-body">
        
        <h5 class="card-title text-center text-monospace">Ricardo Martins</h5>
        <p class="card-text">Estudante de desenvolvimento Full Stack Java Jr. na Generation Brasil</p>

        <a href="https://linkedin.com/in/ricamartins" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Linkedin</a>
        <a href="https://github.com/ricamartins" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">Github</a>
    </div>
</div>